@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* header start */
.header-wrap {
    background: rgba(255, 144, 14, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.header h2 {
    font-size: 35px;
}

.header nav {}

.header nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #393939;
    font-size: 14px;
    font-weight: 500;
}

.header nav ul li a:hover {
    color: #ff8800;

}

.banner {
    text-align: center;
}

.banner-title h1 {
    font-size: 50px;
    margin: 50px 0 20px 0;
}

.banner-title {
    text-align: center;
    width: 50%;
    margin: auto;
}

.banner-title small {
    color: rgb(67, 67, 67);
}

.banner-title button {
    padding: 15px 20px;
    border-radius: 5px;
    background: #FF900E;
    border: none;
    margin: 30px 0 35px 0;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.banner img {
    width: 80%;
    padding-bottom: 30px;
}

/* header end */



/* main section start */
.main {}

.main-sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 50px;
    padding: 70px;
}

.main-sec1-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    grid-gap: 15px;
}

.main-sec1-photos img {
    width: 100%;
}

.main-sec1-title {
    width: 50%;

}

.main-sec1-title h1 {
    font-size: 35px;
}

.main-sec1-title span {
    color: rgb(125, 125, 125);
    font-weight: 500;
}

#features {
    color: #FF900E;
}

.main-sec1-title p {
    font-size: 14px;
    color: rgb(140, 139, 139);
    margin-top: 30px;
}

.main-sec1-title button {
    padding: 15px 20px;
    border-radius: 5px;
    background: #FF900E;
    border: none;
    margin: 30px 0 35px 0;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.main-sec2 {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 100px;
    padding: 20px;
}

.main-sec2-blog {
    width: 50%;
}

.main-sec2-blog h1 {
    font-size: 35px;
    border-left: 4px solid #FF900E;
}

.main-sec2-blog p {
    color: rgb(111, 111, 111);
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article {
    box-shadow: 1px 1px 3px rgba(219, 219, 219, 0.784);
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
}

.article p {
    color: hsl(0, 0%, 50%);
}

.main-sec2-image {
    width: 50%;
}

.main-sec2-image img {
    width: 100%;
}

.main-sec2-image h1 {
    color: #fff;
    background-color: #FF900E;
    padding: 40px 50px;
    display: inline-block;
    border-radius: 5px;
    margin-left: -50px;
    margin-top: -100px;
    font-size: 35px;
}

.main-sec2-image p {
    font-size: 20px;
}





.some-facts {
    padding: 200px;
}

.some-facts h1 {
    font-size: 35px;
}

.some-facts p {
    margin: 20px 0 50px 0;

}

.box-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    border: 2px solid #FF900E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    transition: width 2s, height 2s, transform 2s;
}

.box:hover {
    background-color: #FF900E;
    width: 250px;
    height: 250px;
    transform: rotate(360deg);
}

.box img {}

.box h1 {
    font-size: 30px;
}

.box h2 {
    font-size: 14px;
    color: rgb(122, 121, 121);
}

/* main section end */


/* footer start */

.footer {
    text-align: center;
}

.footer h1 {
    font-size: 40px;
}

.footer p {
    color: rgb(134, 134, 134);
    margin: 30px 0 50px 0;
}

.footer nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer nav ul li {
    list-style: none;
}

.footer nav ul li img {
    margin-top: 30px;
    margin-bottom: 50px;
}

.copyright {
    padding: 20px 40px;
    background: #FFF4E7;
}


/* footer end */





@media screen and (max-width: 576px) {

    .header,
    .footer nav ul,
    .box-wrap{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        line-height: 30px;
    }

    .header nav ul {
        display: inherit;
    }

    .main-sec1 {
        padding: 0;
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-sec1-photos {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .main-sec2 {
        flex-direction: column;
        width: 100%;
    }

    .main-sec2-blog {
        width: 100%;
    }

    .main-sec2-image {
        width: 100%;
    }

    .some-facts {
        padding: 0px;
    }

    .box {
        margin-bottom: 20px;
    }
}